/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



/* add from here */
#root{
  width:100%
}
/* .container{
  background-color: aqua;
  width: 100%;
  
} */
nav{
  border:solid
}


.container{
  display: flex;
  flex-direction: row;
  padding-left: 210px;
  width:100%
}

.menu-nav {
  position: fixed;
  top: 0;  /* 上端に固定する場合 */
  left: 0;  /* 左端に固定する場合 */
  width: 200px;  /* ナビゲーションの幅を調整してください */
  height: 100vh;  /* 画面の高さいっぱいに設定します */
  background-color: rgb(203, 202, 202);  /* ナビゲーションの背景色を指定してください */
  border-right: 1px solid #ccc;  /* ナビゲーションの右側に境界線を追加します */
  padding-top: 20px;  /* 適切なパディングを設定します */
}

.sub-container{
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 0;
}

.main{
  padding-top: 300px;
  
  width: 100%;
  padding-right: 0;
  justify-self: center;
  align-self: center;
}

.graph{
  border: solid;
  
}




/* meal */
.meal-nav{
  border: solid;
  position: fixed;
  top: 0;  /* 上端に固定する場合 */
  left: 200px;  /* 左端に固定する場合 */
  right: 0; 
   /* ナビゲーションの幅を調整してください */
  height: 270px;  /* 画面の高さいっぱいに設定します */
  background-color: rgb(196, 255, 100);  /* ナビゲーションの背景色を指定してください */
  border-right: 1px solid #ccc;  /* ナビゲーションの右側に境界線を追加します */
  padding-top: 20px;  /* 適切なパディングを設定します */
  padding-left: 1%;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
}



.meal-nav h1{
  font-size: 30px;
}

.meal-nav h2{
  font-size: 15px;
}

.meal-links{
  display: flex;
  flex-direction: row ;
  
  justify-content: space-around;
}
.meal-group{
  border: solid;
}
.meal-add-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .meal-main{
  border: solid;
} */


.calendar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  
}

.food-form{
  display: flex;
  flex-direction: column;
}


.meal-info{
  display: flex;
  
  justify-content: space-between;
}

.daily-cals{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type:none ;
  
}


.daily-pfc{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style-type:none ;
  
  align-items: center;
  padding: 0 0 0 0;
  width: 300px;
}


/* .daily-pfc li{
  border: solid;
} */

.food-select{
  width:90px
}

.food-amount-select{
  width: 40px;
}



.meal-add-button{
  background-color: rgb(0, 255, 21);
  width: 20px;
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.meal-update-button{
  background-color: rgb(255, 227, 47);
  width: 20px;
  height:30px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.meal-delete-button{
  background-color: red;
  color: aliceblue;
  width: 20px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* .serving-toggle-button{
  background-color: rgb(189, 185, 185);
  color: aliceblue;
  width: 50px;
  height: 30px;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */

.unit-change{
  cursor: pointer;
}

.each-meal{
  background-color: rgb(187, 255, 41);
  display: flex;
  flex-direction: row;
  border: solid;
  justify-content: space-between;
}



.each-meal .basic-info{
  display: flex;
  flex-direction: row;
  /* border: solid; */
}
.each-meal .meal-btns{
  display: flex;
  flex-direction: row;
  /* border: solid; */
}

.meal-create{
  display: flex;
  flex-direction: row;
}
.meal-update{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meal-update label{
  display: flex;
}

.each-searched-food{
  display: flex;
  flex-direction: row;
  border: solid;
  justify-content: space-between;
}

.each-searched-food .searched-food-detail{
  display: flex;

}



/* exercise */
.input-number{
  width:30%;

}

.exercise-detail-update{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.update-container{
  display: flex;
  flex-direction: column;
  
}

.exercise-info{
  display: flex;
  flex-direction: row;
}

.textarea-width{
  width: 200%;
}



.exercise-nav{
  border: solid;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-create{
  display: flex;
  flex-wrap: wrap;
}

.exercise-create-form{
  display: flex;
  flex-direction: column;
  width:100%;
  
}

.exercise-create-form .exercise-create-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.exercise-create-form .exercise-create-detail input{
  width: 34px;
}

.exercise-create-form .exercise-create-detail select{
  width: 70px;
}

.exercise-create-form textarea{
  width:150%
}


.exercise-create-form .exercise-create-others{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercise-main-container{
  width:80%;
}

.exercise-group {
  margin-top: 1%;
  padding: 3% 2% 3% 2%;
}

.exercise-update-form{
  display: flex;
  flex-direction: column;
  
  width:100%
}

.exercise-update-form .exercise-update-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercise-update-form .exercise-update-detail input{
  width: 34px;
}

.exercise-update-form .exercise-update-detail select{
  width: 70px;
}

.exercise-update-form textarea{
  width:150%
}
.exercise-update-form button{
  background-color: rgb(225, 207, 7);
  color: #fff;
  width: 50px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.exercise-update-form .exercise-update-others{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercise-delete-button{
  background-color: rgb(174, 171, 171);
  color: #fff;
  width: 50px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.exercise-graph-type-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.exercise-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.exercise-nav{
  border: solid;
  position: fixed;
  top: 0;  /* 上端に固定する場合 */
  left: 200px;  /* 左端に固定する場合 */
  right: 0; /* ウィンドウの右端まで */
   /* ナビゲーションの幅を調整してください */
  height: 280px;  /* 画面の高さいっぱいに設定します */
  background-color: rgb(255, 180, 100);  /* ナビゲーションの背景色を指定してください */
  border-right: 1px solid #ccc;  /* ナビゲーションの右側に境界線を追加します */
  padding-top: 20px;  /* 適切なパディングを設定します */
  padding-left: 1%;
}

.exercise-nav h1{
  font-size: 30px;
}

.exercise-nav h2{
  font-size: 15px;
}

.exercise-nav p{
  font-size: 10px;
}


/* user_info */

.user-info-nav{
  border: solid;
  position: fixed;
  top: 0;  /* 上端に固定する場合 */
  left: 200px;  /* 左端に固定する場合 */
  right: 0; 
   /* ナビゲーションの幅を調整してください */
  height: 270px;  /* 画面の高さいっぱいに設定します */
  background-color: rgb(225, 159, 226);  /* ナビゲーションの背景色を指定してください */
  border-right: 1px solid #ccc;  /* ナビゲーションの右側に境界線を追加します */
  padding-top: 20px;  /* 適切なパディングを設定します */
  padding-left: 1%;
}

.user-info-main-container{
  padding-top: 280px;
}

.user-info-nav .user-info-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 1% 1% 1%;
  border: solid;
}


.user-info-nav .user-info-detail .user-info-info{
  border: solid;
  width: 50%;
}

.user-info-nav .user-info-detail .user-info-info p{
  font-size: 5px;
}

.user-info-nav .user-info-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid;
}

.user-info-nav .user-info-links .user-info-link{
  font-size: 15px;
  padding-bottom: 1%;
}


.user-info-nav h1{
  font-size: 30px;
}

.user-info-nav h2{
  font-size: 15px;
}


.user-info-form{
  display: flex;
  flex-direction: column;
}

/* .user-info-form input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */


/* account */
.account-nav{
  
  position: fixed;
  top: 0;  /* 上端に固定する場合 */
  left: 200px;  /* 左端に固定する場合 */
  right: 0; 
   /* ナビゲーションの幅を調整してください */
  height: 150px;  /* 画面の高さいっぱいに設定します */
  background-color: rgb(159, 226, 221);  /* ナビゲーションの背景色を指定してください */
  border-right: 1px solid #ccc;  /* ナビゲーションの右側に境界線を追加します */
  padding-top: 20px;  /* 適切なパディングを設定します */
  padding-left: 1%;
}

.account-nav h1{
  font-size: 30px;
}

.account-form{
  display: flex;
  flex-direction: column;
}

.account-form button{
  width:100px
  
}

.signup-form{
  display:flex;
  flex-direction: column;
}





/* calendar */
.calendar {
  font-family: 'Arial', sans-serif;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  padding-left: 100px;
  
  width:100%
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
}

.calendar-header button {
  background-color: #fff;
  color: #3498db;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding: 10px;
}

.day-label {
  font-weight: bold;
  text-align: center;
}

.day {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #f2f2f2;
}

.other-month {
  color: #aaa;
}

.sunday{
  color: red;
}

.saturday{
  color:blue;
}